{% extends "page.html.twig" %}

{% block page_body %}
  <div class="site-content">
    <main class="site-content__body clearfix" role="main">
      <div class="visually-hidden"><a id="main-content" tabindex="-1"></a></div>
      {% if page.highlighted %}
        {{ page.highlighted }}
      {% endif %}
      {% if page.above_content %}
        {{ page.above_content }}
      {% endif %}
      {% if page.content %}
        {{ page.content }}
      {% endif %}
      {% if page.below_content %}
        {{ page.below_content }}
      {% endif %}
    </main>
  </div>
{% endblock page_body %}
