//
// Blog.
//

// Node.
.page-title--blog-post {
  margin: 0 0 10px;
  padding: 0;
}
.blog-post__image {
  margin: 0 0 15px;

  img {
    max-width: 100%;
    height: auto;
  }
}
.blog-post-meta {
  margin: 0 0 15px;
  padding: 0;
  font-size: 14px;

  div {
    display: inline-block;
    vertical-align: top;
  }
  i {
    position: relative;
    display: inline-block;
    top: -1px;
    margin: 0;
    padding: 0 5px;
    vertical-align: top;
  }
  .fa {
    color: #929292;
    margin-right: 5px;
  }
}
.blog-post-meta--node {
  margin: 0 0 20px;
  padding: 0;
}

// Blog Post Tags.
.blog-post-tags {
  text-transform: lowercase;
  font-style: italic;
}
.blog-post-tags__list {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: top;

  .field__item {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top;
    background: none;

    a {
      &::after {
        content: ', ';
      }
    }
    &:last-child a::after {
      content: '';
    }
  }
}
.blog-post-tags__label {
  display: inline-block;
  text-transform: none;
  font-style: normal;
  vertical-align: top;
}

// Blog Post Footer.
.blog-post__footer {
  clear: both;
  margin: 20px 0 0;
  padding: 30px 0 0;
  border-top: 1px solid #e6e6e6;
}
.blog-author {
  position: relative;
  margin: 0 0 40px;
  padding: 0 0 0 120px;
  min-height: 125px;
}
.blog-author__body {
  margin: 0;
  padding: 7px 0 0;

  h3 {
    margin: 0 0 21px;
    padding: 0;
    font-size: 20px;
    line-height: 22px;
  }
  .blog-author-name {
    font-weight: normal;
  }
}
.blog-author__image {
  position: absolute;
  top: 0;
  left: 0;

  img {
    display: block;
    border: 1px solid #e6e6e6;
  }
}

// Hide default page title on node pages.
.page-node-type-blog-post .page-title {
  display: none;
}

// Blog Listing.
.view-display-id-blog_listing .item-list > ul {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    margin: 0;
    padding: 0;
    background: none;
  }
}
.blog-listing-item {
  margin: 0 0 30px;
  padding: 0 0 10px;
  border-bottom: 1px solid #e6e6e6;
}
.blog-listing-item__image {
  margin: 0 0 20px;
  padding: 0;

  a {
    position: relative;
    display: block;
    opacity: 1;
    transition: opacity .2s ease-in-out;

    &:hover {
      opacity: .75;
    }
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}
.blog-listing-item__title {
  margin: 0 0 12px;
  padding: 0;

  a {
    display: inline-block;

    &:hover {
      text-decoration: none;
    }
  }
  h3 {
    margin-top: 0;
  }
}
.blog-listing-item__date {
  margin: 0 0 10px;
  padding: 0;
}
.blog-listing-item__body {
  margin: 0 0 23px;
  padding: 0;

  p {
    margin: 0;
    padding: 0;
  }
}
.blog-listing-item__footer {
  position: relative;
  clear: both;

  .btn {
    margin-right: 10px;
    margin-bottom: 20px;
  }
}
.blog-listing-item__tags {
  display: inline-block;
  margin: 0 0 15px;
  padding: 9px 0 0;
  vertical-align: top;
}

// Recent Posts.
.block-views-blockblog-recent-posts {
  margin-top: 0;

  @media (min-width: $screen-sm-min) {
    margin-top: 68px;
  }
  > h2 {
    margin-top: 0;
  }
}
.page-node-type-blog-post .block-views-blockblog-recent-posts {
  margin-top: 0;
}
.blog-listing-item--teaser {
  margin: 0 0 20px;
  padding: 0 0 20px;

  .blog-listing-item__image {
    margin: 0 0 10px;
  }
  .blog-listing-item__title {
    margin: 0;
    padding: 0;
    font-size: 20px;
  }
}

// Blog Sidebar.
.site-sidebar--blog {
  h2 {
    margin-top: 0;
    font-size: 30px;
  }
  .blog-content-sidebar__listing {
    margin: 10px 0;
    padding: 10px 0;
    border-bottom: 1px solid #e6e6e6;
  }
  .views-field-created {
    font-size: 14px;
  }
  .region {
    margin-bottom: 20px;
  }
}
