//
// Landing Page.
//

.page-node-type-landing-page {
  .region-highlighted,
  .region-above-content,
  .region-below-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;

    @media (min-width: $screen-sm-min) {
      max-width: $container-tablet;
    }
    @media (min-width: $screen-md-min) {
      max-width: $container-desktop;
    }
    @media (min-width: $screen-lg-min) {
      max-width: $container-large-desktop;
    }
    @media (min-width: $screen-xl-min) {
      max-width: $container-xlarge-desktop;
    }
  }
  .region-highlighted > div {
    margin: 20px 0;
  }
  // Force hide the page title block.
  .block-page-title-block {
    display: none;
  }
  .site-content {
    margin: 0;
    padding: 0;
  }
}
// Adjust region spacing if logged in.
.user-logged-in.toolbar-vertical.page-node-type-landing-page,
.user-logged-in.toolbar-horizontal.page-node-type-landing-page {
  .region-above-content > .block {
    margin: 20px 0;
  }
}
