{#
/**
 * @file
 * A layout for the checkout registration form
 *
 * Available variables:
 * - form: The form.
 *
 * @ingroup themeable
 */
#}
<div class="commerce-checkout-completion-register">
  <div class="commerce-checkout-completion-register__text">
    <h2>{{ 'Create your account'|t }}</h2>
    <p>{{ 'Set a password to save your details for next time.'|t }}</p>
  </div>
  <div class="commerce-checkout-completion-register__form">
    {{ form }}
  </div>
</div>
