/**
 * Site Content.
 */
.site-content {
  padding: 20px 0 40px 0;

  @media (min-width: $screen-sm-min) {
    padding: 50px 0;
  }
  .page-title {
    margin-top: 0;
  }
}

/**
 * Sidebar.
 */
.site-sidebar {
  .menu {
    margin: 0;
  }
  .menu__item {
    display: block;
  }
  .menu__link {
    padding: 10px 15px;
    border-bottom: 1px solid $gray-lighter;

    &:hover {
      background-color: $gray-lighter;
    }
  }

  // Sub items - 2nd level.
  .menu--level-1 .menu__link {
    position: relative;
    padding-left: 40px;

    // Sub item icon.
    &:before {
      @include fa-icon();
      content: $fa-var-chevron-right;
      position: absolute;
      top: 16px;
      left: 25px;
      font-size: 10px;
      line-height: 12px;
      color: $gray-light;
    }
  }
  // Sub items - 3rd level.
  .menu--level-2 .menu__link {
    padding-left: 40px;

    // Sub item icon.
    &:before {
      left: 25px;
    }
  }
  // Menu block title/parent.
  .block-menu h2 {
    margin-top: 0;

    a {
      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }
}

/**
 * Forms.
 */
.label,
.form-item legend {
  color: $c-body;
  border: none;
}
.form-group {
  margin-bottom: 25px;
}
.form-control,
.form-textarea-wrapper textarea {
  max-width: 350px;
  width: 100%;
}
.radio,
.checkbox {
  margin-top: 0;
}
.help-block {
  font-size: 80%;
  font-style: italic;
  color: #9C9C9C;
}
.form-type-radio .description,
.form-type-checkbox .description {
  margin-left: 0;
}
// Required fields.
.form-required {
  color: $c-primary;
}
// Optional fields.
.form-optional {
  font-weight: normal;
  font-size: 90%;
  color: #B3B3B3;
}
textarea,
textarea.resize-vertical {
  // Remove browser resizer.
  resize: none;
}

/**
 * Webforms.
 */
.webform-multiple-table {
  table {
    margin-bottom: 20px;

    tbody > tr > td {
      padding: 20px;
    }
  }
}
.webform-submission-form {
  // Hide 'add more items' number form item.
  .form-type-number[class*="add-more-items"] {
    display: none;
  }
}

/**
 * Search.
 */

// Hide default Drupal title on searches.
.path-search .page-title {
  display: none;
}
input.form-search {
  margin: 0;
  // Right padding is for search submit icon.
  padding: 6px 36px 6px 12px;
  width: 100%;
  max-width: 400px;
  font-size: 14px;
}
.form-search-submit-trigger {
  position: absolute;
  top: 3px;
  right: 10px;
  // Hide by default. Make visible with more specific styles.
  display: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  z-index: 1;

  &:hover {
    text-decoration: none;
  }
  &:before {
    display: block;
    content: "\e003";
    font-family: $f-glyphicons;
    font-size: 19px;
    color: $gray-base;
    transition: color .2s ease-in-out;
  }
  &:focus:before,
  &:hover:before {
    color: $gray;
  }
}
.block-search {
  position: relative;

  .form-search-submit-trigger {
    display: block;
  }
  .form-submit {
    display: none;
  }
  .form-item,
  .form-actions {
    position: relative;
    margin: 0;
    padding: 0;
  }
}
.search-page-form {

  .form-wrapper {
    position: relative;
    max-width: 300px;

    .form-search-submit-trigger {
      top: auto;
      bottom: 3px;
      display: block;
    }
    .form-submit {
      display: none;
    }
    .form-item,
    .form-actions {
      position: relative;
      margin: 0;
      padding: 0;
    }
  }
}

/**
 * Accordion.
 */
.base-accordion {
  .active .base-accordion__header {
    color: $c-secondary;

    &::before {
      color: $gray-light;
    }
  }
  .base-accordion__header {
    position: relative;
    padding-left: 15px;
    font-family: $f-secondary;
    transition: all .2s ease-in-out;

    // Arrow icon.
    &::before {
      @include fa-icon();
      content: $fa-var-angle-right;
      color: lighten($gray-light, 10%);
      position: absolute;
      left: 0;
      transition: all .2s ease-in-out;
    }
    &:hover::before {
      color: $gray-light;
    }
  }
  .base-accordion__content {
    background-color: #f7f5f5;
  }
}

/**
 * Cards.
 */
.card {
  display: block;
  color: $c-body;
  text-align: center;
  text-decoration: none;
  border: 1px solid #cccc;
  background: #f7f5f5;
  box-shadow: 0 4px 0 0 #ededed;
  transition: all .1s ease-in-out;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
  }
  .btn {
    margin: 0 0 20px 0;
  }
}
.card__text-wrapper {
  // 1px padding-bottom to fix spacing issues across browsers.
  padding: 20px 20px 1px 20px;

  p {
    line-height: 1.5;
  }
}
a.card:hover {
  text-decoration: none;
  box-shadow: 0 4px 4px 4px #ededed;

  .card__text-wrapper p {
    color: $c-body;
  }
}

/**
 * Image Gallery.
 */
.image-gallery-nav {
  ul.flex-direction-nav {
    position: absolute;
    display: block;
    top: 50%;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;

    .flex-nav-prev,
    .flex-nav-next {
      position: absolute;
      font-family: FontAwesome;
      font-size: 24px;
      transform: translateY(-50%);
    }
    .flex-nav-next {
      right: 0;
    }
  }
  .image-gallery-nav__thumb {
    height: auto;
    transition: all .2s ease-in-out;

    &:hover,
    &:focus {
      opacity: 0.85;
    }
  }
}

/**
 * Tables.
 */
table,
.table {
  margin: 0 0 20px 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  border: none;

  // Cells.
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding: 8px;
        line-height: 1.4;
        vertical-align: top;
        border-top: 1px solid $gray-light;
      }
      > td.is-active {
        background: $gray-lighter;
      }
    }
  }
  // Bottom align for column headings.
  > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid $gray-light;
  }
  // Remove top border from thead by default.
  > caption + thead,
  > colgroup + thead,
  > thead:first-child {
    > tr:first-child {
      > th,
      > td {
        border-top: 0;
      }
    }
  }
  // Account for multiple tbody instances.
  > tbody + tbody {
    border-top: 2px solid $gray-light;
  }
  // Nesting.
  .table {
    background-color: #fff;
  }
}
.table-bordered thead {
  background: $c-secondary;
  color: #fff;
}

/**
 * Pagination.
 */
.pager li > a:hover,
.pager li > a:focus {
  background-color: $gray-lighter;
}
.pager__item.is-active {
  a {
    color: #fff;
    background: $c-link;
    border-color: $c-link-hover;

    &:hover,
    &:focus {
      background: $c-link-hover;
    }
  }
}

/**
 * Modals.
 */
@media (min-width: $screen-sm-min) {
  .modal.in .modal-dialog {
    transform: translateX(-50%) translateY(-50%);
  }
  .modal-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
  }
}
