/**
 * Site Content.
 */
.site-content {
  padding: 20px 0 40px 0;

  @media (min-width: $screen-sm-min) {
    padding: 50px 0;
  }
  .page-title {
    margin-top: 0;
  }
}

/**
 * Sidebar.
 */
.site-sidebar {
  .menu {
    margin: 0;
  }
  .menu__item {
    display: block;
  }
  .menu__link {
    padding: 10px 15px;
    border-bottom: 1px solid $gray-lighter;

    &:hover {
      background-color: $gray-lighter;
    }
  }

  // Sub items - 2nd level.
  .menu--level-1 .menu__link {
    position: relative;
    padding-left: 40px;

    // Sub item icon.
    &:before {
      @include fa-icon();
      content: $fa-var-chevron-right;
      position: absolute;
      top: 16px;
      left: 25px;
      font-size: 10px;
      line-height: 12px;
      color: $gray-light;
    }
  }
  // Sub items - 3rd level.
  .menu--level-2 .menu__link {
    padding-left: 40px;

    // Sub item icon.
    &:before {
      left: 25px;
    }
  }
  // Menu block title/parent.
  .block-menu h2 {
    margin-top: 0;

    a {
      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }
}

/**
 * Forms.
 */
.label,
.form-item legend {
  color: $c-body;
  border: none;
}
.form-group {
  margin-bottom: 25px;
}
.form-item {

}
.form-control {
  padding: 8px 12px;
  width: 100%;
  max-width: $form-max-width;
  height: auto;
  font-size: $fs-form-item;
}
.radio,
.checkbox {
  margin-top: 0;
}
.help-block {
  font-size: 80%;
  font-style: italic;
  color: #9C9C9C;
}
.form-type-radio .description,
.form-type-checkbox .description {
  margin-left: 0;
}
// Required fields.
.form-required {
  color: $c-primary;
}
// Optional fields.
.form-optional {
  font-weight: normal;
  font-size: 90%;
  color: $gray-light;
}
textarea,
textarea.resize-vertical {
  // Remove browser resizer.
  resize: none;
}

// Select/Dropdown.
.select-wrapper {
  position: relative;
  max-width: $form-max-width;

  // Pseudo arrow.
  &:after {
    @include fa-icon();
    content: $fa-var-caret-down;
    position: absolute;
    top: 11px;
    right: 15px;
    color: $c-body;
    pointer-events: none;
  }
  .form-control {
    // Account for arrow.
    padding-right: 37px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
  }
}

// Radio.
.form-type-radio {
  position: relative;

  // Hide radio so we can use a pseudo element instead.
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  label {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 1px 0 0 27px;
    width: auto;
    height: auto;
    min-height: 20px;
    font-size: $fs-form-item;
    line-height: 1.2;
    vertical-align: top;
    cursor: pointer;

    // Pseudo radio.
    &:before {
      content: '';
      position: absolute;
      top: 2px;
      left: 2px;
      display: block;
      margin: 0;
      padding: 0;
      width: 16px;
      height: 16px;
      background: #fff;
      border: 6px solid #fff;
      box-shadow: 0 0 0 2px $gray-border;
      border-radius: 50%;
      transition: all .2s ease-in-out;
    }
    &:hover,
    &:focus {
      &:before {
        background: lighten($gray-border, 15%);
        border-color: lighten($gray-border, 15%);
      }
    }
  }
  // Active/checked radio.
  input[type="radio"]:checked + label:before {
    background: $c-primary;
    box-shadow: 0 0 0 2px $c-primary;
    border: 3px solid #fff;
    animation: shrink-bounce 200ms cubic-bezier(.4,.0,.23,1);
  }
}

// Checkbox.
.form-type-checkbox {
  position: relative;

  // Hide checkbox so we can use a pseudo element instead.
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  label {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 1px 0 0 27px;
    width: auto;
    height: auto;
    min-height: 20px;
    font-size: $fs-form-item;
    line-height: 1.2;
    vertical-align: top;
    cursor: pointer;

    // Pseudo checkbox.
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      margin: 0;
      padding: 0;
      justify-content: center;
      align-items: center;
      width: 19px;
      height: 19px;
      background: transparent;
      border: 2px solid $gray-border;
      border-radius: 2px;
      cursor: pointer;
      transition: all 250ms cubic-bezier(.4,.0,.23,1);
    }
    &:after {
      @include fa-icon();
      content: $fa-var-check;
      position: absolute;
      top: 3px;
      left: 3px;
      font-size: 13px;
      color: #fff;
      line-height: 1.0;
      text-align: center;
      transition: all .2s ease-in-out;
    }
    &:hover,
    &:focus {
      &:before {
        background: lighten($gray-border, 15%);
      }
      &:after {
        color: lighten($gray-border, 15%);
      }
    }
  }
  // Active/checked radio.
  input[type="checkbox"]:checked + label:before {
    border: .6em solid $c-primary;
    animation: shrink-bounce 200ms cubic-bezier(.4,.0,.23,1);
  }
  input[type="checkbox"]:checked + label:after {
    color: #fff;
  }
}



// Drupal/Ajax Throbber.
html {
  .ajax-throbber {
    display: inline-block;
    text-align: center;
    font-size: 16px;
    width: 38px;
    height: 38px;
    animation: ajax-rotate 0.8s infinite linear;
    border: 8px solid $c-primary;
    border-right-color: transparent;
    border-radius: 50%;

    div,
    span {
      display: none !important;
    }
  }
  // Fullscreen Throbber.
  .ajax-progress.ajax-progress-fullscreen {
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 1.0;
    @include background-opacity(#fff, 0.6);

    .ajax-throbber {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 50px;
      height: 50px;
      transform: translate(-50%, -50%);
    }
  }
}

/**
 * Webforms.
 */
.webform-multiple-table {
  table {
    margin-bottom: 20px;

    tbody > tr > td {
      padding: 20px;
    }
  }
}
.webform-submission-form {
  // Hide 'add more items' number form item.
  .form-type-number[class*="add-more-items"] {
    display: none;
  }
}

/**
 * Cards.
 */
.card {
  display: block;
  color: $c-body;
  text-align: center;
  text-decoration: none;
  border: 1px solid #cccc;
  background: #f7f5f5;
  box-shadow: 0 4px 0 0 #ededed;
  transition: all .1s ease-in-out;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
  }
  .btn {
    margin: 0 0 20px 0;
  }
}
.card__text-wrapper {
  // 1px padding-bottom to fix spacing issues across browsers.
  padding: 20px 20px 1px 20px;

  p {
    line-height: 1.5;
  }
}
a.card:hover {
  text-decoration: none;
  box-shadow: 0 4px 4px 4px #ededed;

  .card__text-wrapper p {
    color: $c-body;
  }
}

/**
 * Image Gallery.
 */
.image-gallery-nav {
  ul.flex-direction-nav {
    position: absolute;
    display: block;
    top: 50%;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;

    .flex-nav-prev,
    .flex-nav-next {
      position: absolute;
      font-family: FontAwesome;
      font-size: 24px;
      transform: translateY(-50%);
    }
    .flex-nav-next {
      right: 0;
    }
  }
  .image-gallery-nav__thumb {
    height: auto;
    transition: all .2s ease-in-out;

    &:hover,
    &:focus {
      opacity: 0.85;
    }
  }
}

/**
 * Tables.
 */
table,
.table {
  margin: 0 0 20px 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  border: none;

  // Cells.
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding: 8px;
        line-height: 1.4;
        vertical-align: top;
        border-top: 1px solid $gray-light;
      }
      > td.is-active {
        background: $gray-lighter;
      }
    }
  }
  // Bottom align for column headings.
  > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid $gray-light;
  }
  // Remove top border from thead by default.
  > caption + thead,
  > colgroup + thead,
  > thead:first-child {
    > tr:first-child {
      > th,
      > td {
        border-top: 0;
      }
    }
  }
  // Account for multiple tbody instances.
  > tbody + tbody {
    border-top: 2px solid $gray-light;
  }
  // Nesting.
  .table {
    background-color: #fff;
  }
}
.table-bordered thead {
  background: $c-secondary;
  color: #fff;
}

/**
 * Pagination.
 */
.pager li > a:hover,
.pager li > a:focus {
  background-color: $gray-lighter;
}
.pager__item.is-active {
  a {
    color: #fff;
    background: $c-link;
    border-color: $c-link-hover;

    &:hover,
    &:focus {
      background: $c-link-hover;
    }
  }
}

/**
 * Modals.
 */
@media (min-width: $screen-sm-min) {
  .modal.in .modal-dialog {
    transform: translateX(-50%) translateY(-50%);
  }
  .modal-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
  }
}

/**
 * Page Scroll To Top.
 */
.b-page-scroll-to-top {
  position: fixed;
  bottom: -75px;
  right: 40px;
  display: block;
  margin: 0;
  padding: 8px 0 0 0;
  width: 70px;
  height: 70px;
  font-size: 40px;
  line-height: 1.0;
  color: #e5e5e5;
  text-align: center;
  text-decoration: none;
  background: #fff;
  border: 4px solid #e5e5e5;
  border-radius: 50%;
  outline: none;
  z-index: 99;
  transition: all .5s ease-in-out;

  &.is-active {
    bottom: 40px;
    display: none;

    @media (min-width: $screen-sm-min) {
      display: block;
    }
  }
  // Arrow Icon.
  &:before {
    @include fa-icon();
    content: $fa-var-caret-up;
    position: relative;
    top: 0;
    line-height: 1.0;
    vertical-align: top;
    transition: all .2s ease-in-out;
  }
  &:hover,
  &:focus {
    color: #ccc;
    border-color: #ccc;
    text-decoration: none;
    outline: none;
  }
  &:hover {
    // Arrow Icon.
    &:before {
      top: -3px;
    }
  }
}
