/**
 * Embeds.
 */
.embedded-entity {
  &.align-left {
    float: left;
    margin: 0 30px 0 0;
  }
  &.align-right {
    float: right;
    margin: 0 0 0 30px;
  }
}

// Products.
div[data-entity-type='commerce_product'] {

}
.embedded-entity {
  .product-teaser {
    margin-bottom: 30px;
    max-width: 280px;

    p {
      margin: 0;
      padding: 0;
    }
  }
  &.align-center {
    .product-teaser {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
