/**
 * General.
 */
html,
body {
  height: 100%;
  color: $c-body;
  background: $c-site-bg;
  font-family: $f-body;
}
body {
  font-size: 16px;
  line-height: 1.5;
  min-width: $screen-min;

  &.cke_editable {
    padding: 20px;
    background: #fff;
  }
}

/**
 * Images.
 */
img {
  display: inline-block;
  max-width: 100%;
  height: auto;

  // CKEditor alignment styles.
  &.align-left {
    display: block;
    float: none;
    margin: 0 0 20px 0;

    @media (min-width: $screen-xs-min) {
      float: left;
      margin: 0 20px 20px 0;
    }
  }
  &.align-right {
    display: block;
    float: none;
    margin: 0 0 20px 0;

    @media (min-width: $screen-xs-min) {
      float: right;
      margin: 0 0 20px 20px;
    }
  }
  &.align-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

/**
 * Typography.
 */
h1 {
  margin-top: 30px;
  font-family: $f-primary;
  font-size: 35px;

  @media (min-width: $screen-sm-min) {
    font-size: 48px;
  }
}
h2 {
  margin-top: 30px;
  font-family: $f-primary;
  font-size: 28px;

  @media (min-width: $screen-sm-min) {
    font-size: 35px;
  }
}
h3 {
  margin-top: 30px;
  font-family: $f-primary;
  font-size: 25px;

  @media (min-width: $screen-sm-min) {
    font-size: 28px;
  }
}
h4 {
  margin-top: 25px;
  font-family: $f-primary;
  font-size: 20px;

  @media (min-width: $screen-sm-min) {
    font-size: 24px;
  }
}
h5 {
  margin-top: 25px;
  font-family: $f-secondary;
  font-size: 18px;
  text-transform: uppercase;
}
h6 {
  margin-top: 25px;
  font-family: $f-secondary;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
}

/**
 * Content.
 */
p {
  margin: 0 0 20px 0;
  padding: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 20px;
}
blockquote {
  padding: 0 20px;
  border-left: 14px solid $c-primary;
  font-family: $f-secondary;
  font-style: italic;
}
iframe {
  width: 100%;
}

// Clearfix for inline fields.
.field--label-inline:after {
  content: "";
  display: table;
  clear: both;
}

// Border-radius styles.
.btn,
.form-control,
.pager li > a,
.pager li > span,
.card,
.modal-content {
  border-radius: $border-radius;
}
.card .card__image img,
.nav-tabs > li > a {
  @include border-top-radius($border-radius);
}

/**
 * Tabs.
 */
.nav-tabs {
  margin: 20px 0;
  border-bottom-color: $gray-border;

  > li {
    float: none;

    @media (min-width: $screen-sm-min) {
      float: left;
    }
    > a {
      border: 1px solid #ccc;
      border-radius: 0;

      @media (min-width: $screen-sm-min) {
        border: 1px solid transparent;
        border-radius: $border-radius $border-radius 0 0;
      }
      &:hover,
      &:focus {
        background: red;
      }
    }
    // Active state, and its :hover to override normal :hover
    &.active > a {
      border-color: $gray-border;
      border-bottom-color: transparent;

      &:hover,
      &:focus {
        border-radius: 0;

        @media (min-width: $screen-sm-min) {
          border-radius: $border-radius $border-radius 0 0;
        }
      }
    }
  }
}
.nav-tabs--vertical {
  flex: none;
  margin: 0;
  width: auto;
  border: none;
  border-right: 1px solid $gray-border;

  @media (min-width: $screen-sm-min) {
    flex: 0 0 230px;
    width: 230px;
  }
  > li,
  > li {
    float: none;
  }
  > li > a {
    padding: 15px 25px;
    margin: 0 -1px 0 0;
    border: 1px solid $gray-border;
    border-radius: 0;
  }
  > li > a:hover,
  > li > a:focus {
    border-radius: 0;
    border-color: $gray-border;
  }
  > li.active > a,
  > li.active > a:hover,
  > li.active > a:focus {
    border: 1px solid $gray-border;
    border-color: $gray-border transparent $gray-border $gray-border;
    *border-right-color: #fff;
    border-radius: 0;
  }
}

/**
 * Panels / Accordion.
 */
.panel {
  > .panel-heading {
    padding: 0;
    background: #fafafa;
  }
  h4.panel-title {
    font-family: $f-body;
  }
  .panel-title > a {
    display: block;
    padding: 10px 15px;
    color: $c-link;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $c-link-hover;
      text-decoration: none;
    }
  }
}

/**
 * Slick.
 */
.slick-slide {
  // Remove outline on slick items.
  outline: none;
}

/**
 * Links.
 */
a {
  color: $c-link;
  text-decoration: none;
  @include smooth-transition;

  &:hover,
  &:focus {
    color: $c-link-hover;
    text-decoration: none;
  }
  &:hover {
    text-decoration: underline;
  }
}

/**
 * Buttons
 */
button {
  @include smooth-transition;
}
.btn,
.btn-default,
.btn--default {
  display: inline-block;
  margin: 0 5px;
  padding: 10px 12px;
  width: auto;
  height: auto;
  font-family: $f-secondary;
  font-size: 18px;
  line-height: 1.0;
  color: $gray-darker;
  text-decoration: none;
  background: #fff;
  border: 1px solid $gray-light;
  transition: color .2s ease-in-out, background-color .2s ease-in-out;

  &:hover,
  &:focus,
  &:active {
    color: $gray-darker;
    text-decoration: none;
    background-color: $gray-lighter;
    border-color: $gray-light;
    box-shadow: none;
  }
}

// Primary button.
.btn-primary,
.btn--primary {
  color: #fff;
  background-color: $c-primary;
  border-color: $c-primary;

  &:hover,
  &:focus,
  &:active {
    color: #fff;
    background-color: darken($c-primary, 10%);
    border-color: darken($c-primary, 10%);
  }
}

// Link button.
.btn-link {
  color: $c-link;

  &:hover,
  &:focus {
    color: $c-link-hover;
  }
}

// Large button.
.btn-lg,
.btn--lg,
.btn-group-lg > .btn {
  font-size: 24px;
}

// Small button.
.btn-sm,
.btn--sm,
.btn-group-sm > .btn {
  padding: 8px 16px;
  font-size: 16px;
}

// Form buttons.
.form-submit--trigger {
  // Hidden by default.
  // This anchor element will show up beside submit inputs.
  // Use a more specific class to use this element instead of the input.
  // Useful if you need icons etc. on your submit buttons.
  display: none;
  margin: 0;
  padding: 0;
  border: none;
  background: none;

  span {
    display: none;
  }
}

/**
 * Overrides.
 */
// If there's a text color override set.
.override-text-color {
  .base-accordion .base-accordion__content {
    background: none;
  }
  // Set an underline for links since we can't control the colors.
  a {
    text-decoration: underline;
  }
  a:hover,
  a:focus {
    color: inherit;
    text-decoration: none;
  }
  a.btn {
    text-decoration: none;
  }
}
