/**
 * Variables.
 */

// Colors.
$c-white: #fff;
$c-black: #000;
$c-error: #cc0000;

$c-site-bg: $c-white;

$c-primary: #f95e27;
$c-primary-hover: darken($c-primary, 10%);

$c-secondary: #25a8e0;
$c-secondary-hover: darken($c-secondary, 10%);

$c-tertiary: #713a7d;
$c-tertiary-hover: darken($c-tertiary, 10%);

$c-accent-1: #ccc;
$c-accent-2: #ccc;
$c-accent-3: #ccc;

$c-body: #666;

$c-link: #1cb06d;
$c-link-hover: darken($c-link, 10%);

$c-star-on: $c-link;
$c-star-hover: $c-link-hover;
$c-star-off: #e2e2e2;
$c-breadcrumbs: #999;

$gray-border:            #ccc;
$gray-base:              #151515 !default;
$gray-darker:            #353535;
$gray-dark:              #545353;
$gray:                   #807e7e;
$gray-light:             #b3b3b3;
$gray-lighter:           #e6e6e6;

// Fonts.
$f-glyphicons: 'Glyphicons Halflings';
$f-font-awesome: FontAwesome;

$f-primary: Verdana, Geneva, sans-serif;
$f-secondary: Georgia, Times, 'Times New Roman', serif;
$f-body: Arial, 'Helvetica Neue', Helvetica, sans-serif;

// Site Styles.
$border-radius: 4px;

// Forms.
$form-max-width: 400px;

// Change with caution.
// 16px is the recommended size for form elements/accessibility.
$fs-form-item: 16px;

/**
 * Responsive Helpers.
 */
$screen-min: 320px;

// Extra small screen / phone.
$screen-xs: 480px !default;
$screen-xs-min: $screen-xs !default;

// Small screen / large phone.
$screen-sm-ph: 600px;

// Small screen / tablet.
$screen-sm: 768px !default;
$screen-sm-min: $screen-sm !default;

// Medium screen / desktop.
$screen-md: 992px !default;
$screen-md-min: $screen-md !default;

// Large screen / wide desktop.
$screen-lg: 1200px !default;
$screen-lg-min: $screen-lg !default;

// Extra large screen / wider desktop.
// See '_bootstrap-overrides.scss' for details.
$screen-xl: 1560px !default;
$screen-xl-min: $screen-xl !default;

// So media queries don't overlap when required, provide a maximum.
$screen-xs-max: ($screen-sm-min - 1) !default;
$screen-sm-max: ($screen-md-min - 1) !default;
$screen-md-max: ($screen-lg-min - 1) !default;
